[afilias-extras]
name={{ ansible_distribution }} {{ ansible_distribution_version }} - afilias extras
baseurl={{ afilias_extras_repo_base_url }}{{ ansible_distribution_major_version }}/{{ ansible_architecture }}/
gpgcheck=0
enabled=0

