{% if datacenter in ('au2','au1', 'on1', 'tx1', 'stg', 'in1', 'in3', 'cn1', 'cn2', 'tor', 'aws1', 'aws2') %}
[afilias-extras]
name={{ ansible_distribution }} {{ ansible_distribution_major_version }} - Afilias Extra Repo
baseurl={{ repo_svr  }}/project_repos/afilias-extras/{{ ansible_distribution_major_version }}/{{ ansible_architecture }}/
gpgcheck=0
enabled=0
{% endif %}
